Importing necessary libraries

In [1]:
import pandas as pd
import yfinance as yf

Download Stock Data

In [2]:
df=yf.download(tickers=['ITC.NS','ARE&M.NS','CAPLIPOINT.NS'],period='3y',interval='1mo')

[*********************100%***********************]  3 of 3 completed

save to excel

In [3]:
df.to_excel('stock_data.xlsx',sheet_name='Stocks3y1mo')

read excel file with date as index and skip 3rd rows

In [5]:
df_xlsx=pd.read_excel('stock_data.xlsx',index_col=0,header=[0,1],skiprows=[2])

rename index column to'Date'

In [6]:
df_xlsx.index.name='Date'

convert close column to float32 data type

In [7]:
df_xlsx['Close']=df_xlsx['Close'].astype('float32')

display info and table head

In [8]:
print(df_xlsx.info())
print(df_xlsx.head())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 36 entries, 2022-02-01 to 2025-01-01
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   (Close, ARE&M.NS)        15 non-null     float32
 1   (Close, CAPLIPOINT.NS)   36 non-null     float32
 2   (Close, ITC.NS)          36 non-null     float32
 3   (High, ARE&M.NS)         15 non-null     float64
 4   (High, CAPLIPOINT.NS)    36 non-null     float64
 5   (High, ITC.NS)           36 non-null     float64
 6   (Low, ARE&M.NS)          15 non-null     float64
 7   (Low, CAPLIPOINT.NS)     36 non-null     float64
 8   (Low, ITC.NS)            36 non-null     float64
 9   (Open, ARE&M.NS)         15 non-null     float64
 10  (Open, CAPLIPOINT.NS)    36 non-null     float64
 11  (Open, ITC.NS)           36 non-null     float64
 12  (Volume, ARE&M.NS)       15 non-null     float64
 13  (Volume, CAPLIPOINT.NS)  36 non-null     int64
 14  (Volume, ITC.NS)         36 non-null     int64
dtypes: float32(3), float64(10), int64(2)
memory usage: 4.1 KB
None
Price         Close                               High                \
Ticker     ARE&M.NS CAPLIPOINT.NS      ITC.NS ARE&M.NS CAPLIPOINT.NS
Date
2022-02-01      NaN    658.202332  195.312790      NaN    834.591071
2022-03-01      NaN    669.053955  232.042496      NaN    744.522293
2022-04-01      NaN    694.900635  240.281784      NaN    818.806796
2022-05-01      NaN    732.141541  250.557770      NaN    803.022562
2022-06-01      NaN    702.629089  259.135315      NaN    780.369274

Price                       Low                               Open  \
Ticker          ITC.NS ARE&M.NS CAPLIPOINT.NS      ITC.NS ARE&M.NS
Date
2022-02-01  215.807733      NaN    641.234274  187.304825      NaN
2022-03-01  238.846860      NaN    651.099384  196.678351      NaN
2022-04-01  252.872167      NaN    668.511380  230.329846      NaN
2022-05-01  261.389209      NaN    617.557892  230.653864      NaN
2022-06-01  261.314503      NaN    624.097607  244.970503      NaN

Price                                  Volume
Ticker     CAPLIPOINT.NS      ITC.NS ARE&M.NS CAPLIPOINT.NS     ITC.NS
Date
2022-02-01    781.319300  199.972784      NaN       1638504  466265620
2022-03-01    658.202299  199.825954      NaN       2316308  699286936
2022-04-01    674.183836  231.440758      NaN       2162667  443042094
2022-05-01    694.456686  238.846873      NaN       2923268  462384362
2022-06-01    733.388868  256.434996      NaN       1026050  263357060